.contact-form {
    display: block; 
    position: static; 
    margin-top: 23rem; 
    padding: 5rem;
    max-width: 600px;
    width: 100%;
    background-color: transparent; 
    box-sizing: border-box;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 1rem;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;

            &.half {
                display: inline-block;
                width: 48%;
                margin-right: 2%;
            }

            &.half:last-child {
                margin-right: 0;
            }
        }

        input,
        textarea {
            width: 100%;
            padding: 0.5rem;
            border: 0;
            border-radius: 4px;
            font-family: 'Inter';
            font-size: 16px;
            background: #115173;
            color: white;
           

        }

        textarea {
            height: 120px;
        }

        .flat-buttonc {
            display: inline-block;
            padding: 0.7rem 1.5rem;
            background: transparent;
            color: yellow;
            border: 1px solid yellow;
            border-radius: 4px;
            font-family: 'Poppins';
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;

            &:hover {
                background-color: #ffd700;
            }
        }
    }
}


.text-zone {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    gap: 2rem; 
}
