@font-face {
    font-family: "Coolvetica";
    src:
        url("./assets/fonts/Coolvetica.woff2") format("woff2"),
        url("./assets/fonts/Coolvetica.woff") format("woff"),
        url("./assets/fonts/Coolvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
    h1 {
        color: white;
        font-size: 56px;
        line-height: 53px;
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-weight: 400;

        &::before {
            content: "<h1>";
            font-family: "La Belle aurore";
            font-size: 18px;
            color: yellow;
            margin-top: -40px;
            position: absolute;
            left: 15px;
            opacity: 0.6;
        }

        &::after {
            content: "</h1>";
            font-size: 18px;
            font-family: "La Belle aurore";
            margin-top: 18px;
            position: absolute;
            color: yellow;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
        img {
            width: 32px;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }
}

h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 3px;
    font-family: "Inter", sans-serif;
    animation: fadeIn 1s 1.8s backwards;
}

.flat-button {
    color: yellow;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    padding: 10px 10px;
    border: 1px solid yellow;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
        background: yellow;
        color: #333;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .home-page {
        .text-zone {
            position: absolute;
            width: 90%;
            left:45%;
            transform: translate(-50%, -50%);
            padding: 20px;
            box-sizing: border-box;
        }

        h1 {
            font-size: 70px;
            line-height: 40px;
            text-align: center;
            padding: 10px;

            &::before {
                font-size: 40px;
                margin-top: -60px;
                left: 0;
                width: 100%;
                text-align: center;
                padding: 10px;

            }

            &::after {
                font-size: 40px;
                margin-top: 15px;
                margin-left: 0;
                width: 100%;
                text-align: center;
                position: relative;
                display: block;
                padding: 10px;
            }

            img {
                width: 20px;
                
            }
        }
    }

    h2 {
        font-size: 25px;
        position: relative;
        left: 13%;
        letter-spacing: 2px;
        text-align: center;
        margin-top: 15px;
    }

    .flat-button {
        float: none;
        display: block;
        margin: 20px auto 0;
        width: fit-content;
        text-align: center;
        font-size: 20px;
        padding: 20px 24px;
    }

}

/* Mobile Responsiveness (max-width: 768px) */
@media screen and (min-width: 481px) and (max-width: 768px) {
   
    .home-page {
        .text-zone {
            position: absolute;
            left:10px;
            width: 95%;
            padding: 15px;
        }

        h1 {
            font-size: 32px;
            line-height: 36px;

            &::before,
            &::after {
                font-size: 20px;
            }

            img {
                width: 20px;
            }
        }
    }

    h2 {
        font-size: 15px;
        letter-spacing: 1.5px;
        margin-top: 12px;
        left: 6px;
    }

    .flat-button {
        font-size: 10px;
        padding: 7px 10px;
        letter-spacing: 2px;
        margin-top: 15px;

        &:hover {
            background: yellow;
            color: #333;
        }
    }

    
}

/* Small Mobile Responsiveness (max-width: 480px) */
@media screen and (max-width: 480px) {
    
    
    .home-page {
        .text-zone {
            position: absolute;
            left:10px;
            width: 95%;
            padding: 15px;
        }

        h1 {
            font-size: 32px;
            line-height: 36px;

            &::before,
            &::after {
                font-size: 20px;
            }

            img {
                width: 20px;
            }
        }
    }

    h2 {
        font-size: 15px;
        letter-spacing: 1.5px;
        margin-top: 12px;
        left: 6px;
    }

    .flat-button {
        font-size: 10px;
        padding: 7px 10px;
        letter-spacing: 2px;
        margin-top: 15px;

        &:hover {
            background: yellow;
            color: #333;
        }
    }
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotateIn {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}



