.skills-content {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.mainS {
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100%;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0;
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    
}
.stext{
    p {
        gap: 0px;
        margin: 0px;
        border: 2px solid yellow;
        padding: 5px;
        width: 0;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        font-family: "Poppins";
        font-weight: 800;
        background: linear-gradient(145deg, #1e293b, #1a2234);

        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 15px;
    }
}

.skill-text {
    h2 {
        color: rgb(250, 250, 176);
        font-size: 17px;
        font-family: "Inter";
        font-weight: 800;
    }
}

.icon {
    font-size: 55px;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

.top-tags {
    bottom: 0;
    top: 15px;
}

.tags {
    color: yellow;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: "La Belle Aurore";
}

.bottom-tag-html {
    margin-left: -19px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.3s;
}

.text-zone-projects {
    display: flex;
    flex-direction: column; /* Stack the elements vertically */
    gap: 1.5rem; /* Add consistent spacing between elements */
    position: absolute;
    left: 10%;
    top: 10%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
}

.skills-page {
    .text-zone {
        display: flex;
        flex-direction: column; /* Stack the elements vertically */
        gap: 1.5rem; /* Add consistent spacing between elements */
        position: absolute;
        left: 10%;
        top: 10%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }

    h1 {
        font-size: 53px;
        font-family: "Poppins";
        color: yellow;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before {
            content: "<h1>";
            font-family: "La Belle Aurore";
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
            color: yellow;
            padding: 10px;
        }

        &::after {
            content: "</h1>";
            font-family: "La Belle Aurore";
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            opacity: 0.6;
            margin-left: 20px;
        }
    }

    p {
        font: 20px;
        color: rgb(211, 202, 40);
        font-family: "INTER";
        font-weight: 800;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay: 1.1s;
        }
        &:nth-of-type(2) {
            animation-delay: 1.2;
        }
        &:nth-of-type(3) {
            animation-delay: 1.3s;
        }
    }

    .text-animate-hover {
        &:hover {
            color: white;
        }
    }
}

.about-page,
.contact-page,
.project-page {
    .text-zone {
        display: flex;
        flex-direction: column; /* Stack the elements vertically */
        gap: 1.5rem; /* Add consistent spacing between elements */
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }

    h1 {
        font-size: 53px;
        font-family: "Poppins";
        color: yellow;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before {
            content: "<h1>";
            font-family: "La Belle Aurore";
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
            color: yellow;
            padding: 10px;
        }

        &::after {
            content: "</h1>";
            font-family: "La Belle Aurore";
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            opacity: 0.6;
            margin-left: 20px;
        }
    }

    p {
        font: 20px;
        color: white;
        font-family: "Poppins";
        font-weight: 400;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay: 1.1s;
        }
        &:nth-of-type(2) {
            animation-delay: 1.2;
        }
        &:nth-of-type(3) {
            animation-delay: 1.3s;
        }
    }

    .text-animate-hover {
        &:hover {
            color: white;
        }
    }
}

.devImg {
    z-index: 0;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0%;
    right: 3%;
    left: auto;
    bottom: 0;
    margin: auto;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.self {
    z-index: 0;
    
    position: absolute;
    top: 50%;
    right: 45%;
    left: auto;
    bottom: 0;
    margin: auto;
    animation: fadeInUp ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;

    img{
        
        width: 250px;
        
    }

    a{
        img{
            cursor: pointer;
        }
    }
}

.devImg2 {
    position: absolute;
    top: 5%;
    right: 10%;
    left: auto;
    bottom: 0;
    margin: auto;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    img {
        border-radius: 10px;
        width: 380px;
    }

    p {
        font: 15px;
        color: yellow;
        font-family: "Poppins";
        font-weight: 800;
        min-width: fit-content;
        animation: pulse 1s;
        position: relative;
        left: 1%;
        width: 100%;
    }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.card-wrapper {
    display: grid; /* Use grid for better layout control */
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr)); /* Responsive card columns */
    gap: 20px; /* Space between cards */
    justify-items: center; /* Center cards horizontally */
    align-items: start; /* Align cards to the top */
    margin: 20px auto; /* Center wrapper with margin */
    padding: 15px;
    padding-bottom: 10px;
    max-width: 1200px;
    width: 100%;
    position: relative;
    left: 5%;
    bottom: 3%;
    top: 20%;
}

.card {
    //    flex: 1 1 auto;
    background: linear-gradient(145deg, #1e293b, #1a2234);
    width: 100%;
    max-width: 345px;
    height: 300px;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(209, 221, 45, 0.5);
    overflow: hidden; /* Prevent content overflow */
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    // background: linear-gradient(145deg, #1e293b, #334155);
}

.cardContent {
    padding: 10px;
}

.card:hover {
    transform: translateY(-10px); /* Hover animation */
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.6);
}

.cardContent {
    padding: 0x;
    text-align: left;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover; /* Ensure images fit proportionally */
}

.cardActions {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 15px;
}

.cardActions button {
    font-size: 0rem;
}

.cardContent h5 {
    font-family: "Poppins", sans-serif;
    color: yellow;
    font-weight: bold;
    font-size: 1.5rem;
}

.cardContent p {
    color: #94a3b8;
    font-size: 1.1rem;
    padding-left: 0;
    padding-bottom: 0;
    margin: 0;
    padding-top: 2px;
}
.card .MuiButton-root {
    background: linear-gradient(145deg, #1e293b, #1a2234);
    color: blue($color: #000000);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 8px 18px;
    font-size: 1.1rem;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;

    bottom: 18px;

    &:hover {
        background: linear-gradient(145deg, yellow, yellow);
    }
}



@media screen and (max-width: 480px) {

    .page{
        width: 49vh;
    height: 100vh;
    position: absolute;
    bottom: 0;
    }

    body{
        overflow-y: hidden;
    }
    // body { background-color: lightblue; /* Test color */ }

    .devImg2 {
        position: absolute;
        top: 92%;
        right: 10%;
        left: 20%;
        bottom: 5%;
        margin: auto;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        img {
            border-radius: 10px;
            width: 300px;
        }

        p {
            font: 15px;
            color: yellow;
            font-family: "Poppins";
            font-weight: 800;
            min-width: fit-content;
            animation: pulse 1s;
            position: relative;
            left: 1%;
            width: 100%;
        }
    }

    .self {
        z-index: 0;
        
        
        position: absolute;
        top: 62%;
        right: 0%;
        left:60%;
        bottom: 0;
        margin: auto;
        animation: fadeInUp ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
       

        img{
            width: 130px;
           
        }
    }

    .skills-page {
        .text-zone {
            display: flex;
            flex-direction: column; /* Stack the elements vertically */
            gap: 1.5rem; /* Add consistent spacing between elements */
            position: absolute;
            left: 0%;
            top: 10%;
            transform: translateY(-50%);
            width: 100%;
            height: 20%;
            vertical-align: middle;
            display: table-cell;
            

            .skills-content {
                width: 100%;
            }
        }

        h1 {
            font-size: 53px;
            font-family: "Poppins";
            color: yellow;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 40px;
            padding: 10px;

            &::before {
                content: "<h1>";
                font-family: "La Belle Aurore";
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                top: -10px;
                opacity: 0.6;
                line-height: 18px;
                color: yellow;
                padding: 10px;
            }

            &::after {
                content: "</h1>";
                font-family: "La Belle Aurore";
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                left: -30px;
                bottom: -20px;
                opacity: 0.6;
                margin-left: 20px;
            }
        }

        p {
            font: 20px;
            color: rgb(211, 202, 40);
            font-family: "INTER";
            font-weight: 800;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }
            &:nth-of-type(2) {
                animation-delay: 1.2;
            }
            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }

        .text-animate-hover {
            &:hover {
                color: white;
            }
        }
    }
    .skills-content {
        position: relative;
        width: 90%;
        
    }
    .mainS {
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        position: absolute;
        top: 60%;
        left: 10%;
        width: 100%;
    }

    stext{
        
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin: 0px 0;
        width: 00%;
        position: relative;
        left: 0;
        top: 0;

        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        margin: 5px;
    }

    .skill-text {
        h2 {
            color: rgb(250, 250, 176);
            font-size: 17px;
            font-family: "Inter";
            font-weight: 800;
        }
    }

    .icon {
        font-size: 40px;
        padding: 5px;

        .Rest {
            visibility: hidden;
            display: none;
        }
    }

    .tags {
        left: 60px;
        font-size: 15px;
    }

    .project-page h1 {
        font-size: 40px;
        padding: 10px;

        &::before {
            top: -5px;
        }
    }

    .container {
        width: 100%;
        will-change: contents;
        height: 90%;
        min-height: 566px;
        position: absolute;
        opacity: 0;
        top: 10%;
        left: 12%;
        margin: 0 auto;
        z-index: 1;
        transform-style: preserve-3d;
        animation: fadeIn 0.5s forwards;
        animation-delay: 0.5s;
    }

    .devImg {
        z-index: 0;
        width: 150px;
        height: 400px;
        position: absolute;
        top: 5%;
        right: 30%;
        left: auto;
        bottom: 40%;
        margin: auto;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .card .MuiButton-root {
        bottom: 20px;
    }
    .cardContent p {
        color: #94a3b8;
        font-size: 1.1rem;
        width: 100%;
        position: relative;
        left: 0%;
        padding: 0;
        margin: 0;
    }
    .card {
        padding: 5px;
        margin: 5px;
        width: 85%;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
        gap: 20px;
        justify-items: center;
        align-items: start;
        margin: 10px auto;
        padding: 10px;
        padding-bottom: 10px;
        max-width: 1200px;
        width: 70%;
        position: relative;
        left: -16%;
        right: 10%;
        bottom: 3%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    
    .page{
        width: 49vh;
    height: 100vh;
    position: absolute;
    bottom: 0;
    }

    body{
        overflow-y: hidden;
    }
    // body { background-color: lightblue; /* Test color */ }

    .devImg2 {
        position: absolute;
        top: 92%;
        right: 10%;
        left: 20%;
        bottom: 5%;
        margin: auto;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        img {
            border-radius: 10px;
            width: 300px;
        }

        p {
            font: 15px;
            color: yellow;
            font-family: "Poppins";
            font-weight: 800;
            min-width: fit-content;
            animation: pulse 1s;
            position: relative;
            left: 1%;
            width: 100%;
        }
    }

    .self {
        z-index: 0;
        
        
        position: absolute;
        top: 62%;
        right: 0%;
        left:60%;
        bottom: 0;
        margin: auto;
        animation: fadeInUp ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
       

        img{
            width: 130px;
           
        }
    }

    .skills-page {
        .text-zone {
            display: flex;
            flex-direction: column; /* Stack the elements vertically */
            gap: 1.5rem; /* Add consistent spacing between elements */
            position: absolute;
            left: 0%;
            top: 10%;
            transform: translateY(-50%);
            width: 100%;
            height: 20%;
            vertical-align: middle;
            display: table-cell;
            

            .skills-content {
                width: 100%;
            }
        }

        h1 {
            font-size: 53px;
            font-family: "Poppins";
            color: yellow;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 40px;
            padding: 10px;

            &::before {
                content: "<h1>";
                font-family: "La Belle Aurore";
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                top: -10px;
                opacity: 0.6;
                line-height: 18px;
                color: yellow;
                padding: 10px;
            }

            &::after {
                content: "</h1>";
                font-family: "La Belle Aurore";
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                left: -30px;
                bottom: -20px;
                opacity: 0.6;
                margin-left: 20px;
            }
        }

        p {
            font: 20px;
            color: rgb(211, 202, 40);
            font-family: "INTER";
            font-weight: 800;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }
            &:nth-of-type(2) {
                animation-delay: 1.2;
            }
            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }

        .text-animate-hover {
            &:hover {
                color: white;
            }
        }
    }
    .skills-content {
        position: relative;
        width: 90%;
        
    }
    .mainS {
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        position: absolute;
        top: 60%;
        left: 10%;
        width: 100%;
    }

    stext{
        
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin: 0px 0;
        width: 00%;
        position: relative;
        left: 0;
        top: 0;

        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        margin: 5px;
    }

    .skill-text {
        h2 {
            color: rgb(250, 250, 176);
            font-size: 17px;
            font-family: "Inter";
            font-weight: 800;
        }
    }

    .icon {
        font-size: 40px;
        padding: 5px;

        .Rest {
            visibility: hidden;
            display: none;
        }
    }

    .tags {
        left: 60px;
        font-size: 15px;
    }

    .project-page h1 {
        font-size: 40px;
        padding: 10px;

        &::before {
            top: -5px;
        }
    }

    .container {
        width: 100%;
        will-change: contents;
        height: 90%;
        min-height: 566px;
        position: absolute;
        opacity: 0;
        top: 10%;
        left: 12%;
        margin: 0 auto;
        z-index: 1;
        transform-style: preserve-3d;
        animation: fadeIn 0.5s forwards;
        animation-delay: 0.5s;
    }

    .devImg {
        z-index: 0;
        width: 150px;
        height: 400px;
        position: absolute;
        top: 5%;
        right: 30%;
        left: auto;
        bottom: 40%;
        margin: auto;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }

    .card .MuiButton-root {
        bottom: 20px;
    }
    .cardContent p {
        color: #94a3b8;
        font-size: 1.1rem;
        width: 100%;
        position: relative;
        left: 0%;
        padding: 0;
        margin: 0;
    }
    .card {
        padding: 5px;
        margin: 5px;
        width: 85%;
    }

    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
        gap: 20px;
        justify-items: center;
        align-items: start;
        margin: 10px auto;
        padding: 10px;
        padding-bottom: 10px;
        max-width: 1200px;
        width: 70%;
        position: relative;
        left: -16%;
        right: 10%;
        bottom: 3%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .self {
        z-index: 0;
        
        
        position: absolute;
        top: 70%;
        right: 0%;
        left:50%;
        bottom: 0;
        margin: auto;
        animation: fadeInUp ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
       

        img{
            width: 130px;
           
        }
    }

    .devImg2 {
        position: absolute;
        top: 145%;
        right: 10%;
        left: 16%;
        bottom: 5%;
        margin: auto;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        img {
            border-radius: 10px;
            width: 300px;
        }

        p {
            font: 15px;
            color: yellow;
            font-family: "Poppins";
            font-weight: 800;
            min-width: fit-content;
            animation: pulse 1s;
            position: relative;
            left: 1%;
            width: 100%;
        }
    }

    .skills-page {
        .text-zone {
            display: flex;
            flex-direction: column; /* Stack the elements vertically */
            gap: 1.5rem; /* Add consistent spacing between elements */
            position: absolute;
            left: 5%;
            top: 10%;
            transform: translateY(-50%);
            width: 35%;
            vertical-align: middle;
            display: table-cell;
            max-height: 90%;

            .skills-content {
                width: 100%;
            }
        }

        h1 {
            font-size: 53px;
            font-family: "Poppins";
            color: yellow;
            font-weight: 400;
            margin-top: 0;
            position: relative;
            margin-bottom: 40px;
            left: 10px;
            padding: 10px;

            &::before {
                content: "<h1>";
                font-family: "La Belle Aurore";
                font-size: 18px;
                position: absolute;
                margin-top: -10px;
                left: -10px;
                top: -10px;
                opacity: 0.6;
                line-height: 18px;
                color: yellow;
                padding: 10px;
            }

            &::after {
                content: "</h1>";
                font-family: "La Belle Aurore";
                font-size: 18px;
                line-height: 18px;
                position: absolute;
                left: -30px;
                bottom: -20px;
                opacity: 0.6;
                margin-left: 20px;
            }
        }

        p {
            font: 20px;
            color: rgb(211, 202, 40);
            font-family: "INTER";
            font-weight: 800;
            min-width: fit-content;
            animation: pulse 1s;

            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }
            &:nth-of-type(2) {
                animation-delay: 1.2;
            }
            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        }

        .text-animate-hover {
            &:hover {
                color: white;
            }
        }
    }
    .skills-content {
        position: relative;
        width: 100%;
        margin-bottom: 30px;
    }
    .mainS {
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 20px;
        position: absolute;
        top: 60%;
        left: 10%;
        width: 100%;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        margin: 0px 0;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;

        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        margin: 5px;
    }

    .skill-text {
        h2 {
            color: rgb(250, 250, 176);
            font-size: 17px;
            font-family: "Inter";
            font-weight: 800;
        }
    }

    .icon {
        font-size: 40px;
        padding: 5px;

        .Rest {
            visibility: hidden;
            display: none;
        }
    }

    .project-page h1 {
        font-size: 40px;
        padding: 10px;

        &::before {
            top: -5px;
        }
    }
    // body { background-color: lightcoral; /* Test color */ }

    .tags {
        left: 70px;
        font-size: 15px;
    }

    .container {
        width: 100%;
        will-change: contents;
        height: 90%;
        min-height: 566px;
        position: absolute;
        opacity: 0;
        top: 10%;
        left: 12%;
        margin: 0 auto;
        z-index: 1;
        transform-style: preserve-3d;
        animation: fadeIn 0.5s forwards;
        animation-delay: 0.5s;
    }

    .devImg {
        z-index: 0;
        width: 250px;
        height: 400px;
        position: absolute;
        top: 5%;
        right: 30%;
        left: auto;
        bottom: 60%;
        margin: auto;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}
