.nav-bar{
    background: #181818;
    width: 100px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    padding-top: 16px; 
}

.logo{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 8px 0;

    img{
        display: block;
        width: 30px; 
        height: auto;
        margin: 0 auto;

        &.sub-logo{
            width: 200px;
            height: auto;
            margin-top: 5px; 
        }
    }

}
